body {
  text-align: center;
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  color: #bbbbbb;
  background-color: #333333; }

p {
  margin: 0;
  font-size: 18px;
  line-height: 20px; }

h1 {
  font-family: "Bitter", serif;
  text-align: center;
  font-size: 64px; }

.face {
  display: none;
  position: relative;
  left: -3px;
  top: -95px;
  background-image: url("img/matt.jpg");
  background-color: #999999;
  width: 100px;
  height: 140px;
  border: 3px solid #999999;
  border-radius: 100px / 140px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: top 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.33, 1.045, 0.605, 1.38); }

.face:hover {
  top: 5px;
  -webkit-transition: top 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }

.timeline-container {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #404040;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5); }

.timeline-data {
  display: inline-block;
  width: 100px;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-right: 1px solid #333333;
  vertical-align: middle; }

.no-right-border {
  border-right: none; }
