$brightest-grey: #ddd
$bright-grey: #bbb
$light-grey: #999
$darkish-grey: #404040
$dark-grey: #333

$footer-height: 40px
$sans-serif: 'Source Sans Pro', 'Helvetica', sans-serif
$serif: 'Bitter', serif

$shadow-size: 0px 2px 6px 0px rgba(0, 0, 0, .5)
$rounded-radius: 10px

$oval-width: 100px
$oval-aspect-ratio: 1.4
// height = width * aspect-ratio
// if aspect-ratio = 1: circle
//                 > 1: vertical oval
//                 < 1: horizontal oval

body
  text-align: center
  font-family: $sans-serif
  color: $bright-grey
  background-color: $dark-grey

p
  margin: 0
  font-size: 18px
  line-height: 20px

.messi-title
  font-family: $sans-serif

.messi-content
  color: $dark-grey
  font-family: $sans-serif

h1
  font-family: $serif
  text-align: center
  font-size: 64px
  margin-top: 40px
  margin-bottom: -20px

h2
  color: $light-grey
  font-family: $serif
  font-size: 24px
  margin-bottom: 60px

a
  color: $brightest-grey

.container
  min-height: 100%
  position: relative

.content
  padding-bottom: $footer-height

.footer
  position: absolute
  bottom: 0
  width: 95%
  margin-left: auto
  margin-right: auto
  height: $footer-height

.face
  display: none
  position: relative
  left: -3px
  top: -95px
  background-image: url('img/matt.jpg')
  background-color: $light-grey
  width: $oval-width
  height: $oval-width * $oval-aspect-ratio
  border: 3px solid $light-grey
  border-radius: $oval-width unquote('/') ($oval-width * $oval-aspect-ratio)
  box-shadow: $shadow-size
  -webkit-transition: top 0.4s // hover exit
  -webkit-transition-timing-function: cubic-bezier(0.330, 1.045, 0.605, 1.380) // easeOutBack

.face-hover
  top: 5px
  -webkit-transition: top 0.3s // hover enter
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000) // easeOutQuart

.timeline-container
  display: inline-block
  margin-left: auto
  margin-right: auto
  // width: 90%
  text-align: center
  background: $darkish-grey
  border-radius: $rounded-radius
  box-shadow: $shadow-size

.timeline-data
  display: inline-block
  width: 100px
  height: 40px
  padding: 10px
  margin-top: 5px
  margin-bottom: 5px
  border-right: 1px solid $dark-grey
  vertical-align: middle

.no-right-border
  border-right: none

.bubble-twitter
  position: relative
  padding: 15px
  margin-top: 150px
  margin-left: -10px
  width: 250px
  color: $dark-grey
  background: $brightest-grey
  border-radius: $rounded-radius

.bubble-twitter p
  font-size: 28px
  line-height: 1.25em

.bubble-twitter:after
  content: "" // this is NECESSARY
  position: absolute
  top: -30px
  left: 50px
  border: 15px solid transparent
  border-bottom-color: $brightest-grey
  display: block
  width: 0